body {
  margin: 0px;
  width: 100vw;
  font-size: 30px;
  background-image: url(img_for_background.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  }

.main_head {
  width: 250px;
  margin-top: 10px;
  display: flex;
}

.name {
  /* color: rgba(204, 202, 95, 0.603); */
  width: 100px;
  height: 30px;
}
.about_me{
  width: 500px;
  margin-top: 100px;
}

.footer{
  flex: auto;
  border: 1px ;
  border-color: blue;
  margin-left: 30px;
  
}

footer{
  height: 15vh;
  background: rgb(4, 30, 102);
  width: 100vw;
  /* margin-left: 176px; */
  padding: 20px 0;
  /* border-bottom: 3px solid; */
  /* border-right: 3px solid; */
  /* border-left: 3px solid; */
  /* position: relative; */
  /* display: inline; */
  display: flex;
  justify-content: space-around;
.foot {
  margin: 5px;
}